-#  This file is app/views/movies/index.html.haml
%h1 All Users

%table#movies
  %thead
    %tr
      %th User ID
      %th Email
      %th More
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_id 
        %td= user.email
        %td= link_to "more about #{user.user_id}", user_path(user)

= link_to 'Add new user', new_user_path
